In [2]:
import pandas as pd

df = pd.read_csv("ES (1).csv")

In [13]:
#add moving averages to the data frame using a moving average cross over

hours_per_day = 7

df['9-day'] = df['close'].rolling(9*hours_per_day).mean() #add moving averages to the dataframe
df["21-day"] = df['close'].rolling(21*hours_per_day).mean() #one trading month

df[0:10]

  time_est_stripped     open     high      low    close  9-day  21-day
0   5/21/2021 15:00  4160.00  4165.25  4150.00  4152.50    NaN     NaN
1    5/24/2021 9:00  4174.75  4185.00  4173.50  4184.75    NaN     NaN
2   5/24/2021 10:00  4184.75  4198.25  4184.75  4196.25    NaN     NaN
3   5/24/2021 11:00  4196.25  4200.00  4194.00  4195.25    NaN     NaN
4   5/24/2021 12:00  4195.50  4197.50  4192.00  4196.00    NaN     NaN
5   5/24/2021 13:00  4196.25  4201.50  4194.50  4200.75    NaN     NaN
6   5/24/2021 14:00  4200.50  4206.25  4200.50  4203.75    NaN     NaN
7   5/24/2021 15:00  4203.75  4206.00  4192.25  4194.50    NaN     NaN
8    5/25/2021 9:00  4205.75  4210.00  4195.50  4196.25    NaN     NaN
9   5/25/2021 10:00  4196.00  4199.75  4192.50  4197.00    NaN     NaN

In [ ]:
#add a signal column, tells you when you should be long or short
#long -> predict market trends up; 1 means go long next bar
    # you buy because you expect the price to rise
#short -> predict market trends down; -1 means go short next bar
    # you sell first because you expect the price to fall then buy back later at a lower price to pocket the difference
# 0 means stay flat and take no position
import numpy as np 

df["signal"] = np.where(df["9-day"] > df["21-day"], 1, 0)
df["signal"] = np.where(df["9-day"] < df["21-day"], -1, df["signal"])
df.dropna(inplace=True)
df.head()

,time_est_stripped,open,high,low,close,9-day,21-day,signal
146,6/22/2021 10:00,4209.50,4224.00,4205.75,4224.00,4220.972222,4211.744898,1
147,6/22/2021 11:00,4224.00,4231.75,4222.75,4225.50,4220.940476,4212.241497,1
148,6/22/2021 12:00,4225.75,4230.00,4225.75,4228.25,4220.908730,4212.537415,1
149,6/22/2021 13:00,4228.00,4230.75,4226.50,4229.25,4220.908730,4212.761905,1
150,6/22/2021 14:00,4229.50,4235.75,4227.50,4234.75,4221.031746,4213.030612,1
151,6/22/2021 15:00,4234.75,4245.50,4234.50,4236.00,4221.297619,4213.302721,1
152,6/23/2021 9:00,4241.25,4243.50,4235.75,4241.75,4221.242063,4213.581633,1
153,6/23/2021 10:00,4241.50,4246.25,4237.75,4241.00,4221.460317,4213.835034,1
154,6/23/2021 11:00,4240.75,4242.75,4234.25,4238.25,4221.476190,4214.132653,1
155,6/23/2021 12:00,4238.25,4240.00,4232.25,4236.75,4221.396825,4214.408163,1

In [ ]:
#calculate instantaneous returns
df["return"] = np.log(df["close"]).diff()
df["system_return"] = df["signal"] * df["return"]
df["entry"] = df.signal.diff()

,time_est_stripped,open,high,low,close,9-day,21-day,signal,return,system_return,entry
146,6/22/2021 10:00,4209.50,4224.00,4205.75,4224.00,4220.972222,4211.744898,1,NaN,NaN,NaN
147,6/22/2021 11:00,4224.00,4231.75,4222.75,4225.50,4220.940476,4212.241497,1,0.000355,0.000355,0.0
148,6/22/2021 12:00,4225.75,4230.00,4225.75,4228.25,4220.908730,4212.537415,1,0.000651,0.000651,0.0
149,6/22/2021 13:00,4228.00,4230.75,4226.50,4229.25,4220.908730,4212.761905,1,0.000236,0.000236,0.0
150,6/22/2021 14:00,4229.50,4235.75,4227.50,4234.75,4221.031746,4213.030612,1,0.001300,0.001300,0.0
...,...,...,...,...,...,...,...,...,...,...,...
241,7/12/2021 10:00,4364.75,4372.75,4361.25,4371.25,4319.746032,4269.464286,1,0.001545,0.001545,0.0
242,7/12/2021 11:00,4371.50,4372.00,4366.00,4371.00,4321.186508,4270.365646,1,-0.000057,-0.000057,0.0
243,7/12/2021 12:00,4371.25,4372.50,4369.00,4370.75,4322.519841,4271.238095,1,-0.000057,-0.000057,0.0
244,7/12/2021 13:00,4370.50,4373.25,4369.25,4371.00,4323.853175,4272.154762,1,0.000057,0.000057,0.0
245,7/12/2021 14:00,4370.75,4376.25,4370.50,4374.00,4325.261905,4273.091837,1,0.000686,0.000686,0.0